logs/*
!.gitkeep
node_modules/
app/static/js/app
app/static/js/services.js
app/static/js/external.js
app/static/js/controllers.js
app/static/js/directives.js
app/static/js/app.js
app/static/html
app/static/css
app/static/materialize
bower_components/
.sass-cache/
tmp
.DS_Store
.idea
*.log
build/**/*